{% extends 'core.html' %}
{% block core_body%}
<script>
function showSuggestions(query) {
    const suggestionsDiv = document.getElementById('suggestions');
    suggestionsDiv.innerHTML = '';
    if (query.length == 0) return;
    
    fetch(`/api/city/suggestions?search=${query}`)
        .then(response => response.json())
        .then(cities => {
            if (cities.length > 0) {
                const ul = document.createElement('ul');
                ul.className = 'dropdown-menu';
                ul.style.display = 'block';
                ul.style.width = '100%';
                
                cities.forEach(city => {
                    const li = document.createElement('li');
                    const a = document.createElement('a');
                    a.className = 'dropdown-item';
                    a.href = `/web/weather/main?city=${encodeURIComponent(city)}`;
                    a.textContent = city;
                    li.appendChild(a);
                    ul.appendChild(li);
                });
                
                suggestionsDiv.appendChild(ul);
            }
        });
}
</script>

<div class="index">
    <form class="input-group" method="get" action="/web/weather/main">
        <input 
            class="form-control rounded" 
            placeholder="Search city" 
            type="text" 
            id="city" 
            name="city" 
            required
            oninput="showSuggestions(this.value)"
        >
        <button class="btn btn-outline-primary" type="submit">Поиск</button>
    </form>
    <div class="dropdown" id="suggestions">

    </div>


    <h1>Hello from Weather page!</h1>

    <div>
        Ваши прошлые запросы:
        {% if history %}
        {% for item in history %}
            <a href="/web/weather/main?city={{ item.city }}"><b>{{ item.city }}</b></a>
        {% endfor%}
        {% endif %}
    </div>

    {% if forecast %}
    <p>
        <b>{{ forecast.city }}</b> - Координаты: {{ forecast.latitude }}, {{ forecast.longitude }}
    </p>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Дата и время</th>
                <th scope="col">Температура</th>
                <th scope="col">Погода</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(forecast.count) %}
            <tr>
                <td>{{ forecast.time[i] }}</td>
                <td>{{ forecast.temperature[i] }}</td>
                <td>{{ forecast.weather_str[i] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if is_non_existent_city %}
        <div>
            Это не существующий город
        </div>
    {% endif %}
</div>

<style>
    .input-group {
        margin-top: 100px;
    }
</style>
{% endblock core_body%}